# globs
*~
*.la
*.lo
*.o
.*.swp
Makefile
Makefile.in

# directories
.deps/
.libs/

# absolute paths
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/config
/configure
/include/config.h
/include/config.h.in
/include/stamp-h1
/libtool
